<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pracrica VUEJS</title>
</head>
<body>
    <div class="app">
        <h2>{{message}}</h2>
        <input type="text" v-model="nuevaFruta">
        <button @click="agregarFruta">Agregar</button>
        <ul v-for="fruta of frutas">
            <li>{{fruta.cantidad}} -- {{fruta.nombre}}
                <span v-if="fruta.cantidad === 0"> - No hay frutas</span>
            </li>
        </ul>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="./index.js"></script>
</html>